<footer>
    <div class="container text-center">
        <a href="http://ergprocess.com"><small>Copyright &copy; Erg Process Energy, LLC. 2015.</small></a>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/grayscale.js"></script>

<!-- Slick Sliders http://kenwheeler.github.io/slick/ -->
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slick({
              dots: true,
              infinite: false,
              speed: 300,
              // centerMode: false,
              // // centerPadding: '100px',
              slidesToScroll: 1,
              slidesToShow: 2,
              responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                }
            ]
        });
    });
</script>

<script type="text/javascript">
    $( "#inside-apps-1" ).click(function( event ) {
        event.preventDefault();
        $( ".app-1" ).show();
        $( ".app-2" ).hide();
        $( ".app-3" ).hide();
    });
    
    $( "#inside-apps-2" ).click(function( event ) {
        event.preventDefault();
        $( ".app-1" ).hide();
        $( ".app-2" ).show();
        $( ".app-3" ).hide();
    });
    
    $( "#inside-apps-3" ).click(function( event ) {
        event.preventDefault();
        $( ".app-1" ).hide();
        $( ".app-2" ).hide();
        $( ".app-3" ).show();
    });
</script>

<!-- Hello Bar -->
<script src="http://my.hellobar.com/3b7801de7e928d319e00c26f45a9539cfe91ff5a.js" type="text/javascript" charset="utf-8" async="async"></script>

<!-- Gallery -->
<script src="/js/modernizr.custom.js"></script>
<script src="/js/grid.js"></script>
<script>
    $(function() {
        Grid.init();
    });
</script>

