<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <!-- Intro Header -->
    <header id="apps" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h1 class="brand-heading">Apps To Be a <br> Stronger Runner</h1>

                        <div class="hidden-xs" style="color: #fff;">
                            <ul class="fa-ul">
                                <li><h3 style="margin-bottom: 10px;"><i class="fa-li fa fa-angle-right"></i>Help Prevent Injury</h3></li>
                                <li><h3 style="margin-bottom: 10px;"><i class="fa-li fa fa-angle-right"></i>Improve Your Times</h3></li>
                                <li><h3 style="margin-bottom: 10px;"><i class="fa-li fa fa-angle-right"></i>Avoid Burnout</h3></li>
                            </ul>
                        </div>
                     
                        <div class="visible-xs" style="color: #fff;">
                            <h3>Help Prevent Injury <span></br></span> Improve Your Times <span></br></span> Avoid Burnout</h3>
                        </div>
                        
                        <!-- <img src="img/apple-download.png" > -->
                        <!-- <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    
                        <div class="row" style="margin-left: 0px;">
                            <ul id="og-grid" class="og-grid">
                                <li>
                                    <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8" data-largesrc="img/icons/large/run_fresh_icon.png" data-title="Run Fresh" data-description="Run Fresh is a set of proven exercises and active stretching that strengthens muscles in your pelvis, legs, and feet. Running stresses the large muscle groups or prime movers in your legs - quadriceps, hamstrings, and calves. While these muscles get stronger, the smaller stabilizer muscles that support them get weak. This imbalance in strength can lead to injury. These exercises improve balance, strength, and agility.">
                                        <img src="img/icons/run_fresh_icon.png" alt="Run Fresh" class="img-responsive"/>
                                    </a>
                                
                                    <div class="og-expander">
                                        <div class="og-expander-inner">
                                            <span class="og-close"></span>
                                            <div class="og-fullimg">
                                                <div class="og-loading"></div>
                                                <img src="img/icons/large/run_fresh_icon.png">
                                            </div>
                                            <div class="og-details">
                                                <h3>Run Fresh</h3>
                                                <p>Run Fresh is a set of proven exercises and active stretching that strengthens muscles in your pelvis, legs, and feet. Running stresses the large muscle groups or prime movers in your legs - quadriceps, hamstrings, and calves. While these muscles get stronger, the smaller stabilizer muscles that support them get weak. This imbalance in strength can lead to injury. These exercises improve balance, strength, and agility.</p>
                                                <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            
                                <li>
                                    <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8" data-largesrc="img/icons/large/run_strong_icon.png" data-title="Run Strong" data-description="Run Strong is a set of six high intesity body weight exercises just for runners. These exercises performed with little rest push you to the limit increasing both upper and lower body strenth. Being a strong runner isn't just about having strong legs. Runners with strong upper bodies have more edurance, more power through hills, and better conditioning.">
                                        <img src="img/icons/run_strong_icon.png" alt="Run Strong" class="img-responsive"/>
                                    </a>

                                    <div class="og-expander">
                                        <div class="og-expander-inner">
                                            <span class="og-close"></span>
                                            <div class="og-fullimg">
                                                <div class="og-loading"></div>
                                                <img src="img/icons/large/run_strong_icon.png">
                                            </div>
                                            <div class="og-details">
                                                <h3>Run Strong</h3>
                                                <p>Run Strong is a set of six high intesity body weight exercises just for runners. These exercises performed with little rest push you to the limit increasing both upper and lower body strenth. Being a strong runner isn't just about having strong legs. Runners with strong upper bodies have more edurance, more power through hills, and better conditioning.</p>
                                                <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8" data-largesrc="img/icons/large/run_ready_icon.png" data-title="Run Ready" data-description="Run Ready is a collection of time based running workouts for all the major distances. Traditional running plans direct you to run a fixed number of miles each day. However, this can lead to an obsession with pace and burnout. Volume and intensity are what really matter. Run Ready workout plans provide beginning, intermiediate, and advanced workouts for all levels of experience. Optional virtual coaching is also included.">
                                        <img src="img/icons/run_ready_icon.png" alt="Run Ready" class="img-responsive"/>
                                    </a>
                                
                                    <div class="og-expander">
                                        <div class="og-expander-inner">
                                            <span class="og-close"></span>
                                            <div class="og-fullimg">
                                                <div class="og-loading"></div>
                                                <img src="img/icons/large/run_ready_icon.png">
                                            </div>
                                            <div class="og-details">
                                                <h3>Run Ready</h3>
                                                <p>Run Ready is a collection of time based running workouts for all the major distances. Traditional running plans direct you to run a fixed number of miles each day. However, this can lead to an obsession with pace and burnout. Volume and intensity are what really matter. Run Ready workout plans provide beginning, intermiediate, and advanced workouts for all levels of experience. Optional virtual coaching is also included.</p>
                                                <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Posts Section -->
    <section id="posts" style="padding-top: 30px;">

        <div class="page-content">
          <div class="container">
            {{ content }}
          </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="color: white;">Download Run Fit Apps</h1>
                <a href="https://itunes.apple.com/us/app/run-strong/id1016469766?mt=8" class="btn btn-danger" style="background-color: #C40000; color: #fff;" target="_blank"><i class="fa fa-apple"></i> Download Run Strong</a>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class ="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>About Run Fit?</h1>
                    <p>Run Fit is a collection of running apps developed by Ely Greenberg and Erg Process Energy. Ely is a passionate runner, who's completed 12 marathons. He's developed these exercises over a decade of running. During this time he has managed to continuously run hard and remain injury free.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Contact Run Fit</h1>
                <p>Feel free to email us with feedback, questions, or just to say hi!</br>
                If you're in New York City and you'd like to run together let us know.</p>
                <h1><a href="mailto:hi@runfit.io" style="text-decoration:none;">hi@runfit.io</a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <small>Run Fit / Erg Process Energy is not liable for any injuries that individuals might incur by running or performing any of the Run Fresh, Run Strong, or Run Ready workouts. Individuals using these apps do so at their own risk. Consult with your physician before beginning any exercise regimen.</small>
            </div>
        </div>
    </section>

    {% include footer.html %}

  </body>

</html>